USE [PoultryPro – Farm & Billing Management]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminserial] [int] IDENTITY(1,1) NOT NULL,
	[adminuserid] [nvarchar](50) NOT NULL,
	[adminName] [nvarchar](100) NOT NULL,
	[adminpassword] [nvarchar](100) NOT NULL,
	[adminemail] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adminuserid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[mobile] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[invoiceDate] [date] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[final_amount] [decimal](10, 2) NULL,
	[created_by] [int] NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[total_price]  AS ([quantity]*[unit_price]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[created_date] [date] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saler]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saler](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[SalerId] [nvarchar](50) NOT NULL,
	[SalerName] [nvarchar](100) NOT NULL,
	[SalerPassword] [nvarchar](100) NOT NULL,
	[SalerAdress] [nvarchar](200) NULL,
	[SalerEmail] [nvarchar](100) NULL,
	[SalerJoiningDate] [date] NOT NULL,
	[adminid] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/21/2025 12:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](32) NOT NULL,
	[email] [varchar](32) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[role_id] [int] NOT NULL,
	[mobile] [varchar](15) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[nid] [varchar](19) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[created_date] [date] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([adminserial], [adminuserid], [adminName], [adminpassword], [adminemail]) VALUES (2, N'admin', N'tamim', N'123', N'aaa')
INSERT [dbo].[admin] ([adminserial], [adminuserid], [adminName], [adminpassword], [adminemail]) VALUES (1, N'user', N'ratul', N'321', N'ttttt')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([id], [name], [mobile]) VALUES (2, N'tamim', N'01879711424')
INSERT [dbo].[customer] ([id], [name], [mobile]) VALUES (3, N'dip', N'0145755875555')
INSERT [dbo].[customer] ([id], [name], [mobile]) VALUES (4, N'dip', N'11111111')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice] ON 

INSERT [dbo].[invoice] ([id], [customerId], [invoiceDate], [total_amount], [discount_amount], [final_amount], [created_by], [created_date]) VALUES (1, 2, CAST(N'2025-09-12' AS Date), CAST(120.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), 1, CAST(N'2025-09-12' AS Date))
INSERT [dbo].[invoice] ([id], [customerId], [invoiceDate], [total_amount], [discount_amount], [final_amount], [created_by], [created_date]) VALUES (2, 2, CAST(N'2025-09-12' AS Date), CAST(120.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), 1, CAST(N'2025-09-12' AS Date))
INSERT [dbo].[invoice] ([id], [customerId], [invoiceDate], [total_amount], [discount_amount], [final_amount], [created_by], [created_date]) VALUES (3, 2, CAST(N'2025-09-12' AS Date), CAST(120.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), 1, CAST(N'2025-09-12' AS Date))
SET IDENTITY_INSERT [dbo].[invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice_items] ON 

INSERT [dbo].[invoice_items] ([id], [invoice_id], [product_id], [quantity], [unit_price]) VALUES (1, 1, 6, 1, CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [product_id], [quantity], [unit_price]) VALUES (2, 2, 6, 1, CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [product_id], [quantity], [unit_price]) VALUES (3, 3, 6, 1, CAST(120.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[invoice_items] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [quantity], [categoryName], [unit_price], [created_date], [is_active]) VALUES (6, N' deshi duck', 87, N'duck', CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-09-11' AS Date), 1)
INSERT [dbo].[product] ([id], [name], [quantity], [categoryName], [unit_price], [created_date], [is_active]) VALUES (10, N'Broiler', 101, N'chicken', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-09-10' AS Date), 1)
INSERT [dbo].[product] ([id], [name], [quantity], [categoryName], [unit_price], [created_date], [is_active]) VALUES (11, N'Deshi Murgi', 197, N'chicken', CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-09-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[role] ([id], [role_name]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[Saler] ON 

INSERT [dbo].[Saler] ([serial], [SalerId], [SalerName], [SalerPassword], [SalerAdress], [SalerEmail], [SalerJoiningDate], [adminid]) VALUES (2, N'Saler', N'Ratul', N'321', N'aaaa', N'ssss', CAST(N'2025-12-01' AS Date), N'User')
SET IDENTITY_INSERT [dbo].[Saler] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [email], [username], [role_id], [mobile], [password], [nid], [address], [created_date], [is_active]) VALUES (1, N'Admin User', N'admin@gmail.com', N'admin', 1, N'0123456789', N'admin', N'1234567890', N'Dhaka Bangladesh', CAST(N'2025-09-10' AS Date), 1)
INSERT [dbo].[users] ([id], [full_name], [email], [username], [role_id], [mobile], [password], [nid], [address], [created_date], [is_active]) VALUES (3, N'ratul', N'ratul@gmail.com', N'mesbah', 2, N'01876771188', N'mesbah@1188', N'44444444444444444', N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', CAST(N'2025-09-11' AS Date), 1)
INSERT [dbo].[users] ([id], [full_name], [email], [username], [role_id], [mobile], [password], [nid], [address], [created_date], [is_active]) VALUES (4, N'ratul111', N'ratl@gmail.com', N'MesbahUddin', 1, N'01854555555', N'MesbahUddin@5555', N'88888888888888888', N'aaaaaaaaaaaaaaaaaaaa', CAST(N'2025-09-11' AS Date), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admin__755F6BC3025179B6]    Script Date: 9/21/2025 12:54:46 PM ******/
ALTER TABLE [dbo].[admin] ADD UNIQUE NONCLUSTERED 
(
	[adminemail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61645B02B638]    Script Date: 9/21/2025 12:54:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__DF97D0F4AABDD767]    Script Date: 9/21/2025 12:54:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[nid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57244A1CBD9]    Script Date: 9/21/2025 12:54:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[invoice] ADD  DEFAULT (getdate()) FOR [invoiceDate]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoice] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[Saler]  WITH CHECK ADD  CONSTRAINT [FK_Saler_Admin] FOREIGN KEY([adminid])
REFERENCES [dbo].[admin] ([adminuserid])
GO
ALTER TABLE [dbo].[Saler] CHECK CONSTRAINT [FK_Saler_Admin]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
